{% extends 'base.html.twig' %}

{% block body %}
    <!-- Header -->
    <div class="header">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="logo">
                <img src="{{ asset('img/logo.png') }}" alt="April Design">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <div class="contact text-center">

            </div>
        </div>
    </div>
    <!-- End Header -->
    
    <!-- Navigation -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="main-menu">
                    <li><a href="#featured">Destacados</a></li>
                    <li><a href="#ofertas">Ofertas</a></li>
                    <li><a href="#almohadones">Almohadones</a></li>
                    <li><a href="#banderines">Banderines</a></li>
                    <li><a href="#page-experience">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Navigation -->
    
    <!-- First fixed background -->
    <div class="cd-fixed-bg cd-bg-1"></div>
    <!-- Enf First fixed background -->
    
        
        
    <!-- INICIO -->
    <section id="ofertas">
        <div class="container">
            <div class="iconic-nav-bar">
                <div class="icon-holder">
                    <i class="fa fa-star"></i>
                    <span class="triangle"></span>
                </div>
                <div class="bar">
                    <h2>Ofertas</h2>
                </div>

            </div>

            <div class="products-holder simple-grid">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                    <div class="product-item">
                        <div class="head">
                            <div class="le-ribbon blue right"><span>new!</span></div> 
                            <div class="thumb">
                                <img src="http://amindiary.com/demo/marqet-demo/images/products/product01.png" alt="">
                            </div>

                            <div class="price">
                                <div class="price-old">
                                    <span class="currency">$</span>250
                                </div>
                                <div class="price-current">
                                    <span class="currency">$</span>145
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <h3><a href="single-product.html">consectetur adipiscing elit</a></h3>
                            <div class="excerpt">
                                Looking lorem round, to ascertain that they...
                            </div>

                            <div class="merged-buttons">
                                <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                    <div class="product-item">
                        <div class="head">

                            <div class="thumb">
                                <img src="http://amindiary.com/demo/marqet-demo/images/products/product02.png" alt="">
                            </div>

                            <div class="price">
                                <div class="price-old">
                                    <span class="currency">$</span>350
                                </div>
                                <div class="price-current">
                                    <span class="currency">$</span>245
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <h3><a href="single-product.html">Man sport Hiking shoe</a></h3>
                            <div class="excerpt">
                                Looking lorem round, to ascertain that they...
                            </div>

                            <div class="merged-buttons">
                                <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                    <div class="product-item">
                        <div class="head">
                            <div class="le-badge orange"><span>50% off</span></div> 

                            <div class="thumb">
                                <img src="http://amindiary.com/demo/marqet-demo/images/products/product03.png" alt="">
                            </div>

                            <div class="price">
                                <div class="price-old">
                                    <span class="currency">$</span>450
                                </div>
                                <div class="price-current">
                                    <span class="currency">$</span>245
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <h3><a href="single-product.html">Woman highheel shoe</a></h3>
                            <div class="excerpt">
                                Looking lorem round, to ascertain that they...
                            </div>

                            <div class="merged-buttons">
                                <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                    <div class="product-item">
                        <div class="head">

                            <div class="le-badge green"><span>new</span></div> 
                            <div class="thumb">
                                <img src="http://amindiary.com/demo/marqet-demo/images/products/product04.png" alt="">
                            </div>

                            <div class="price">
                                <div class="price-old">
                                    <span class="currency">$</span>120
                                </div>
                                <div class="price-current">
                                    <span class="currency">$</span>95
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <h3><a href="single-product.html">colorful cool runnig shoes</a></h3>
                            <div class="excerpt">
                                Looking lorem round, to ascertain that they...
                            </div>

                            <div class="merged-buttons">
                                <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div> 
    </section>
    
    <!-- Destacados -->
    <section id="featured">
        <div class="container">
            <div class="iconic-nav-bar">
                <div class="icon-holder">
                    <i class="fa fa-star"></i>
                    <span class="triangle"></span>
                </div>
                <div class="bar">
                    <h2>Destacados</h2>
                </div>

            </div>

            <div class="products-holder simple-grid">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                    <div class="product-item">
                        <div class="head">
                            <div class="le-ribbon blue right"><span>new!</span></div> 
                            <div class="thumb">
                                <img src="http://amindiary.com/demo/marqet-demo/images/products/product01.png" alt="">
                            </div>

                            <div class="price">
                                <div class="price-old">
                                    <span class="currency">$</span>250
                                </div>
                                <div class="price-current">
                                    <span class="currency">$</span>145
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <h3><a href="single-product.html">consectetur adipiscing elit</a></h3>
                            <div class="excerpt">
                                Looking lorem round, to ascertain that they...
                            </div>

                            <div class="merged-buttons">
                                <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                    <div class="product-item">
                        <div class="head">

                            <div class="thumb">
                                <img src="http://amindiary.com/demo/marqet-demo/images/products/product02.png" alt="">
                            </div>

                            <div class="price">
                                <div class="price-old">
                                    <span class="currency">$</span>350
                                </div>
                                <div class="price-current">
                                    <span class="currency">$</span>245
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <h3><a href="single-product.html">Man sport Hiking shoe</a></h3>
                            <div class="excerpt">
                                Looking lorem round, to ascertain that they...
                            </div>

                            <div class="merged-buttons">
                                <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                    <div class="product-item">
                        <div class="head">
                            <div class="le-badge orange"><span>50% off</span></div> 

                            <div class="thumb">
                                <img src="http://amindiary.com/demo/marqet-demo/images/products/product03.png" alt="">
                            </div>

                            <div class="price">
                                <div class="price-old">
                                    <span class="currency">$</span>450
                                </div>
                                <div class="price-current">
                                    <span class="currency">$</span>245
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <h3><a href="single-product.html">Woman highheel shoe</a></h3>
                            <div class="excerpt">
                                Looking lorem round, to ascertain that they...
                            </div>

                            <div class="merged-buttons">
                                <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                    <div class="product-item">
                        <div class="head">

                            <div class="le-badge green"><span>new</span></div> 
                            <div class="thumb">
                                <img src="http://amindiary.com/demo/marqet-demo/images/products/product04.png" alt="">
                            </div>

                            <div class="price">
                                <div class="price-old">
                                    <span class="currency">$</span>120
                                </div>
                                <div class="price-current">
                                    <span class="currency">$</span>95
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <h3><a href="single-product.html">colorful cool runnig shoes</a></h3>
                            <div class="excerpt">
                                Looking lorem round, to ascertain that they...
                            </div>

                            <div class="merged-buttons">
                                <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div> 
    </section>
    
    <!-- First fixed background -->
    <div class="cd-fixed-bg cd-bg-2">
    </div>
    <!-- Enf First fixed background -->

    <!-- Banderines -->
    <section id="banderines">
        <div class="container">
            <div class="iconic-nav-bar">
                <div class="icon-holder">
                    <i class="fa fa-star"></i>
                    <span class="triangle"></span>
                </div>
                <div class="bar">
                    <h2>Banderines</h2>
                </div>

            </div>

            <div class="products-holder simple-grid">
                {% for banderin in banderines %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                    <div class="product-item">
                        <div class="head">
                            {% if banderin.new %}
                            <div class="le-ribbon blue right"><span>new!</span></div> 
                            {% endif %}
                            <div class="thumb">
                                <img src="{{ asset(banderin.img) }}" alt="">
                            </div>

                            <div class="price">
                                {% if banderin.oldprice %}
                                <div class="price-old">
                                    <span class="currency">$</span>{{banderin.oldprice}}
                                </div>
                                {% endif %}
                                <div class="price-current">
                                    <span class="currency">$</span>{{banderin.price}}
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <h3><a href="single-product.html">{{banderin.title}}</a></h3>
                            <div class="excerpt">
                                {{banderin.desc}}
                            </div>

                            <div class="merged-buttons">
                                <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


        </div> 
    </section>
    
    <!-- Third fixed background -->
    <div class="cd-fixed-bg cd-bg-3">
    </div>
    <!-- Enf Third fixed background -->        
            
    <!-- Almohadones -->
    <section id="almohadones">
        <div class="container">
            <div class="iconic-nav-bar">
                <div class="icon-holder">
                    <i class="fa fa-star"></i>
                    <span class="triangle"></span>
                </div>
                <div class="bar">
                    <h2>Almohadones</h2>
                </div>
            </div>
   
            <div class="products-holder simple-grid">
                {% for almohadon in almohadones %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                    <div class="product-item">
                        <div class="head">
                            {% if almohadon.sinstock %}
                            <div class="le-ribbon red right"><span>Sin stock</span></div>
                            {% endif %}
                            {% if almohadon.new %}
                            <div class="le-ribbon blue right"><span>new!</span></div> 
                            {% endif %}
                            <div class="thumb">
                                <img src="{{ asset(almohadon.img) }}" alt="">
                            </div>

                            <div class="price">
                                {% if almohadon.oldprice %}
                                <div class="price-old">
                                    <span class="currency">$</span>{{almohadon.oldprice}}
                                </div>
                                {% endif %}
                                <div class="price-current">
                                    <span class="currency">$</span>{{almohadon.price}}
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <h3><a href="single-product.html">{{almohadon.title}}</a></h3>
                            <div class="excerpt">
                                {{almohadon.desc}}
                            </div>

                            <div class="merged-buttons">
                                <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
       </div> 
    </section>

        
    
    <!-- FIN -->
        
        
  
{% endblock %}
